body{
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.playerbox{
    margin-top: 30px;
    background: rgba(120, 150, 220, 0.3); /* background-color: transparent; */
    backdrop-filter: blur(8px);     /* Blur effect behind the box */
    border-radius: 15px; /* rounded edges and subtle border */
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 800px;
    height: 500px;
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.player{
    width: 500px;
    height: 50px;
    border-radius: 20px;
    border-color: black;
}
#playerone{
    outline: none;
    margin-top: 60px;
}
#playertwo{
    outline: none;
    margin-top: 20px;
}
#namesubmit-btn{
    margin-top: 20px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
}

.categoriesbox {
    margin-top: 30px;
    background: rgba(120, 150, 220, 0.3); /* background-color: transparent; */
    backdrop-filter: blur(8px);     /* Blur effect behind the box */
    border-radius: 15px; /* rounded edges and subtle border */
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 800px;
    height: 500px;
    margin-left: 240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*It creates 3 equal columns (1fr means each column gets equal space).*/
    grid-auto-rows: auto;  /*Whenever a new row is created, make the row’s height automatically adjust to fit its content */
    gap: 10px;
    justify-items: center;
}

.categoriesbox h1 {
    grid-column: span 3; /*grid-column: span 3 tells the <h1> to stretch across all 3 columns*/
    text-align: center;
}

.categoriesbtn {
    width: 200px;
    height: 50px;
}
/* #foodanddrink{
    grid-column: 2; grid-column: span 2 tells the btn to stretch across 2 columns
} */


#question-display-selection{
    margin-top: 30px;
    background: rgba(120, 150, 220, 0.3); /* background-color: transparent; */
    backdrop-filter: blur(8px);     /* Blur effect behind the box */
    border-radius: 15px; /* rounded edges and subtle border */
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 800px;
    height: 500px;
    margin-left: 240px;
    padding-top: 5px;
    padding-left: 50px;
}
/* .question-btn{
    width: auto;
    margin-left: 10px;
    margin-top: 5px;
} */
.option{
    padding-top: 10px;
}

#difficulty-level{
    padding-top: 10px;
}
#playerone-score{
    padding-top: 10px;
}
.question-btn{
    margin-top: 10px;
}

.summary{
    margin-top: 30px;
    background: rgba(120, 150, 220, 0.3); /* background-color: transparent; */
    backdrop-filter: blur(8px);     /* Blur effect behind the box */
    border-radius: 15px; /* rounded edges and subtle border */
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 800px;
    height: 500px;
    margin-left: 240px;
    /* padding-left: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Choose-another-category{
    width: 200px;
    height: 30px;
    margin-top: 10px;
}
#end-game-btn{
    width: 200px;
    height: 29px;
    margin-top: 20px;
}
#ending-game-section{
    margin-top: 30px;
    background: rgba(120, 150, 220, 0.3); /* background-color: transparent; */
    backdrop-filter: blur(8px);     /* Blur effect behind the box */
    border-radius: 15px; /* rounded edges and subtle border */
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 800px;
    height: 500px;
    margin-left: 240px;
    padding-top: 5px;
    padding-left: 50px;
}